@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="display-4 fw-bolder text-decoration-underline">Solera Bootcamp 4</h1>
    <br/>
    <br/>
        <h5>.NET Assessment</h5>
        <br/>
        <br/>
        <p>by Carlos Andrés Villarreal</p>
</div>
